[package]
name = "nodejs-polars"
version = "0.8.1"
authors = ["Cory Grinstead"]
documentation = "https://pola-rs.github.io/polars-book/"
edition = "2021"
exclude = ["libpolars.node"]
homepage = "https://github.com/pola-rs/nodejs-polars"
license = "MIT"
repository = "https://github.com/pola-rs/nodejs-polars"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
ahash = "0.8.3"
bincode = "1.3.3"
napi = {version = "2.13.2", default-features = false, features = ["napi8", "serde-json", "experimental"]}
napi-derive = {version = "2.13.0", default-features = false}
polars-core = {git = "https://github.com/pola-rs/polars.git", rev = "bfabdd50639b271da45027809cf720771e3c6685", default-features = false}
polars-io = {git = "https://github.com/pola-rs/polars.git", rev = "bfabdd50639b271da45027809cf720771e3c6685", default-features = false}
polars-lazy = {git = "https://github.com/pola-rs/polars.git", rev = "bfabdd50639b271da45027809cf720771e3c6685", default-features = false}
polars-ops = {git = "https://github.com/pola-rs/polars.git", rev = "bfabdd50639b271da45027809cf720771e3c6685", default-features = false}
thiserror = "1.0.40"
smartstring = { version = "1" }
serde_json = {version = "1"}
either = "1.8"

[dependencies.polars]
features = [
  "binary_encoding",
  "rolling_window",
  "json",
  "dynamic_groupby",
  "zip_with",
  "simd",
  "lazy",
  "strings",
  "temporal",
  "random",
  "object",
  "fmt",
  "performant",
  "dtype-full",
  "rows",
  "round_series",
  "is_unique",
  "is_in",
  "is_first",
  "asof_join",
  "cross_join",
  "dot_product",
  "concat_str",
  "row_hash",
  "reinterpret",
  "decompress-fast",
  "mode",
  "extract_jsonpath",
  "lazy_regex",
  "cum_agg",
  "rolling_window",
  "repeat_by",
  "interpolate",
  "ewma",
  "rank",
  "propagate_nans",
  "diff",
  "pct_change",
  "moment",
  "true_div",
  "dtype-categorical",
  "string_justify",
  "diagonal_concat",
  "horizontal_concat",
  "abs",
  "dot_diagram",
  "dataframe_arithmetic",
  "json",
  "string_encoding",
  "product",
  "ndarray",
  "unique_counts",
  "log",
  "serde-lazy",
  "partition_by",
  "pivot",
  "semi_anti_join",
  "parquet",
  "to_dummies",
  "ipc",
  "avro",
  "list_eval",
  "arg_where",
  "timezones",
]
git = "https://github.com/pola-rs/polars.git"
rev = "bfabdd50639b271da45027809cf720771e3c6685"

[build-dependencies]
napi-build = "2.0.1"

[profile.release]
codegen-units = 1
lto = "fat"

[features]
default = ["range"]
range = ["polars-lazy/range"]

[workspace]
