name: Docs

on:
  push:
    branches:
      - main
      - docs
jobs:
  test:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest Rust nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2024-05-14
          components: rustfmt, clippy
      - name: Install ghp-import
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ghp-import
      - name: Set up Node
        uses: actions/setup-node@v4
        with: 
          node-version: 22
      - name: Build node reference
        run: | 
          npm install
          npx typedoc
      - name: deploy docs
        run: |
          mkdir -p target/doc
          cp -r docs/* target/doc/
          echo ghp-import step
          ghp-import -n target/doc && \
          git push -qf https://${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git gh-pages
